-- Tạo database
CREATE DATABASE MoneyManager;
GO

-- Sử dụng database
USE MoneyManager;
GO

-- Tạo bảng Transactions
CREATE TABLE Transactions (
    Id INT IDENTITY(1,1) PRIMARY KEY,
    Type NVARCHAR(10) NOT NULL,         -- Thu / Chi
    Amount DECIMAL(18,2) NOT NULL CHECK (Amount > 0),
    Purpose NVARCHAR(255) NOT NULL,     -- Nội dung
    Source NVARCHAR(20) NOT NULL CHECK (Source IN (N'Tài khoản', N'Tiền mặt')),
    TransactionDate DATE NOT NULL,
    CreatedAt DATETIME DEFAULT GETDATE(),

    -- Ràng buộc Type
    CONSTRAINT CK_Type CHECK (Type IN (N'Thu', N'Chi'))
);
GO